<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/img/fav32_white.png">

    <title>VM-Series-Helper</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/panw.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img src="/img/fav32_white.png"/> VM-Series-Helper
          </a>
        </div>
      </div>
    </nav>

    <div class="container main-container">
      <div class="row">
        <div class="col-md-12">
          <h5>STATUS: {% status %} {%if status.startswith('Waiting') %}<img style="margin-left: 5px;" src="/img/load_big.gif"/>{% endif %}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <h5 style="padding-bottom: 2px" class="panel-title">REQUESTS</h5>
              <div style="height: 110px !important;" class="table-overflow">
                <table class="table table-condensed vmsh">
                  <col width="32px"/>
                  <col width="150px"/>
                  <col width="auto"/>
                  <tbody>
                    {% for req in requests %}
                    <tr class="request" data-stack="{{ loop.index }}">
                      <td><span style="font-size: 80%" class="glyphicon glyphicon-chevron-right"></span></td>
                      <td><span class="event-time">{{ req.time }}</span></td>
                      <td>handling request {{ req.requestid }} - <span class="task-{{ req.status }}">{% if req.status == 'ok' %}OK{% elif req.status == 'progress' %}IN PROGRESS{% elif req.status == 'failed' %}FAIL{% else %}ERROR{% endif %}</span></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% for req in requests %}
      <div class="row events" id="events-stack-{{ loop.index }}">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <h5 style="padding-bottom: 2px" class="panel-title">EVENTS FOR REQUEST {{ req.requestid|upper }}</h5>
              <div style="height: 250px !important;" class="table-overflow">
                <table class="table table-condensed vmsh">
                  <col width="32px"/>
                  <col width="150px"/>
                  <col width="auto"/>
                  <tbody>
                    {% for evt in req.events %}
                    <tr class="event-header">
                      <td><span style="font-size: 80%" class="glyphicon glyphicon-chevron-right"></span></td>
                      <td><span class="event-time">{{ evt.time }}</span></td>
                      <td>{{ evt.title }} - <span class="task-{{ event.status }}">{% if evt.status == 'ok' %}OK{% elif evt.status == 'progress' %}IN PROGRESS{% elif evt.status == 'failed' %}FAIL{% elif evt.status == 'skipped' %}SKIPPED{% else %}ERROR{% endif %}</span></td>
                    </tr>
                    <tr class="collapse">
                      <td></td>
                      <td>
                      {% if evt.status == 'progress' %}
                        <td colspan="2"><img src="/img/load_big.gif"/></td>
                      {% else %}
                        <td colspan="2" class="panel-code"><code>{{ evt.result }}</code></td>
                      {% endif %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/refresh.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/vmsh.js"></script>
  </body>
</html>
