div.main-container {
	padding: 80px 0px 0px 0px;
}

.navbar-brand img {
	height: auto; 
	display: inline-block; 
	max-width: 20%; 
	margin-right: 5px; 
	position: relative; 
	top: -5px;
}

span.task-ok {
	color: #558a05;
}

span.task-progress {
	color: #f90;
}

.panel-heading {
	background: #fff !important;
}

.panel-code {
	background: #eee;
	font-size: 12px !important;
	padding: 2px;
}

.panel-code code {
	color: #222;
}